.noselection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@font-face {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: 400;
  src: local('Digital-7'), url('../fonts/digital-7.ttf') format('truetype');
}
body {
  background-image: url('../img/old_mathematics3.png');
  height: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
button {
  width: 66.66666667px;
  height: 40px;
  margin: 0 0 5px 0;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 11px #000 inset;
}
button:active {
  box-shadow: 0 0 11px #000 inset, 0 2px #666;
  transform: translateY(1px);
}
button:focus {
  outline: 0;
}
.position {
  width: 352px;
  position: absolute;
  margin-top: 10%;
  margin-left: 4%;
  margin-bottom: -100px;
  border-radius: 19px;
  padding: 25px 40px 17px 40px;
  z-index: -2;
  background-color: #6BCCFF;
  box-shadow: 0 0 26px #000 inset, 12px 18px 71px black;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@media screen and (min-width: 600px) {
  .position {
    margin-top: 4%;
    left: 20%;
    margin-bottom: -100px;
  }
}
@media screen and (min-width: 900px) {
  .position {
    margin-top: 6%;
    left: 30%;
  }
}
.display {
  z-index: -1;
  position: relative;
  margin-bottom: 17px;
}
.display:before {
  content: attr(data-value) " ";
  margin-bottom: -21px;
  color: #616161;
  letter-spacing: 3px;
  font-size: 15px;
  position: relative;
  padding: 0 10px;
  float: right;
  text-align: right;
  height: 21px;
  overflow-y: auto;
  -moz-overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  min-width: 100%;
  max-width: 100%;
}
.display input {
  background-color: #F8D14E;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
  padding: 17px 10px 5px;
  font-size: 50px;
  border: 0;
  box-shadow: 0 0 6px #000 inset;
  color: #E74124;
  font-family: "Digital-7";
}
.display input::-webkit-input-placeholder {
  color: #E74124;
  margin-bottom: 10px;
  text-align: right !important;
  font-family: Arial;
}
.display input :-moz-placeholder {
  /* Firefox 18- */
  color: #E74124;
  font-family: Arial;
  text-align: right!important;
}
.display input:-moz-placeholder {
  /* Firefox 19+ */
  color: #E74124;
  font-family: Arial;
  text-align: right !important;
}
.display input:-ms-input-placeholder {
  color: #E74124;
  font-family: Arial;
  text-align: right !important;
}
.operations {
  margin-left: -30px;
}
.operations button {
  background-color: #16445B;
  color: white;
}
.operations button:last-child {
  background-color: #FF5F07;
  color: white;
}
.operations button:last-child:hover {
  background-color: #FC8902;
}
.operations button:hover {
  background-color: #1F6A81;
}
.numbers button {
  width: 74.66666667px;
  font-family: "Digital-7";
}
.numbers button:hover {
  background-color: #E9E9E9;
}
.last button:first-child {
  width: 154.44015444px;
}
.erasers button {
  background-color: #E10000;
  font-family: "Helvetica";
  color: white;
}
.erasers button:hover {
  background-color: #FE0000;
}
footer {
  position: relative;
  bottom: -100px;
  left: 0;
  height: 2.4em;
  color: white;
  font-size: 20.83333333px;
  width: 100%;
  font-style: italic;
  font-family: cursive;
  text-align: center;
}
footer a {
  color: yellow;
  text-decoration: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #7C4A0F 2px, #7C4A0F 3px, rgba(0, 0, 0, 0) 3px);
}
footer a:hover {
  color: #FC8902;
  background-image: none;
  text-decoration: none;
}
